main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
}

section{
    border-radius: 16px;
    padding: 24px;
}

/*INFO*/
#info { 
    grid-area: 1 / 1 / 6 / 2; 
    background-color: var(--blanco);
}
#info .imagen{
    height: 60%;
}
#info img{
    height: 90%;
    border-radius: 8px;
}
#info h2{
    font-family: var(--font-principal);
    font-size: 1.9em;
    font-weight: 300;
}
#info ul{
    gap: 8px;
    justify-content: right;
}
#info span{
    font-size: .8em;
    background-color: var(--color-oscuro);
    color: var(--blanco);
    width: fit-content;
    padding: 1px 12px;
    border-radius: 20px;
}

/*TECNICO*/
#tecnico { 
    grid-area: 1 / 2 / 3 / 3; 
    border: 2px solid var(--color-acento2);
}

#tecnico ul{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#tecnico .basic-icon{
    color: var(--color-oscuro);
}

/*INGREDIENTES*/
#ingredientes { 
    grid-area: 3 / 2 / 6 / 3; 
    border: 2px solid var(--color-medio);
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}
#ingredientes::-webkit-scrollbar, #instrucciones::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
#ingredientes, #instrucciones {
  overflow-y: scroll; /* Permite desplazamiento */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}
#ingredientes::after{
    content: url(https://api.iconify.design/mdi/cookie.svg?color=orange&height=150);
    position: absolute;
    top: 60%;
    right: -10%;
    transform: rotate(12deg);
    z-index: -1;
    opacity: .5;
}

h4{
    font-size: 1.5em;
    font-weight: 600;
}
#ingredientes ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*INSTRUCCIONES*/
#pasos { 
    grid-area: 1 / 3 / 6 / 4; 
    border: 2px solid var(--color-acento);
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

#pasos::after{
    content: url(https://api.iconify.design/mdi/chef-hat.svg?height=150&color=red);
    position: absolute;
    top: 70%;
    right: -5%;
    transform: rotate(-35deg);
    z-index: -1;
    opacity: .3;
}